body{
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

/* Navigation Bar */
nav {
    background: linear-gradient(to TOP, #333, rgb(92, 92, 92));
    color: white;
    padding: 5px;

}

.logo{
    padding: 5px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-flex;
    margin: 0px 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.offer-section{
    background-color: rgb(193, 3, 3);
    color: white;
}

/* Hero Section */

.Main-heading{
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px;
    font-size: 35px;
}

.short-description{
    font-size: 25px;
    margin-top: 10px;
    margin-right: 30px;
    padding: 10px;
}


/* footer Section */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}